$border-style: 1px solid hsla(0, 0%, 53.3%, 0.4);

.mob-filter {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  background-color: white;
  border-right: $border-style;
  border-left: $border-style;
}

.mob-filter__select {
  font-size: 1rem;
  position: relative;
  box-sizing: border-box;
  background: rgb(247, 246, 246);
  color: #111;
  border: $border-style;
  border-radius: 2px;
  margin-right: 4px;
  padding: 0.7rem 1.5rem 0.7rem 0.7rem;
}
