.channel-cover {
  cursor: pointer;
  position: relative;
  padding: 0.6rem;
  justify-content: flex-start;
  align-items: center;
}
.channel-cover__banner {
  position: relative;
}

.channel-cover__banner img {
  width: 100%;
  min-height: 16.5vw;
}

.channel-cover__thumbnail-img {
  position: absolute;
  left: 1rem;
  top: 1rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
