@import '../../styles/flex-box';

$yt-icon-dimensions: 2.5rem;
$search-icon-dimensions: 1.5rem;
$mobile-icons-color: white;

@mixin icon-dim-and-color($dim) {
  outline: 0;
  fill: $mobile-icons-color;
  width: $dim;
  height: $dim;
}

.head-bar {
  background-color: #e62117;
  color: #fff;
  padding: 0.5rem;
  @extend %flex-hor-sep-bet;
}

.head-bar__title-icon-container {
  flex: 1;
  @extend %flex-hor-sep-bet;
}

.head-bar__yt-icon {
  margin-left: 0.5rem;
  @include icon-dim-and-color($yt-icon-dimensions);
}

.head-bar__title {
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

.head-bar__search-icon {
  margin-right: 0.5rem;
  @include icon-dim-and-color($search-icon-dimensions);
}
